version: '3.8'

services:
  backend:
    build: .
    container_name: nestjs_app
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://username:password@$127.0.0.1:5432/db
      - NODE_ENV=production
      - JWT_ACCESS_SECRET=nestjsPrismaAccessSecret
    restart: unless-stopped  # 重启策略: 除非手动停止, 否则容器总是会重启

  db:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      - POSTGRES_USER=username 
      - POSTGRES_PASSWORD=password 
      - POSTGRES_DB=db 
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local